@keyframes HahaFall
{
	0%
	{
		transform: translateY(-100px) rotate(0deg);
	}

	100%
	{
		transform: translateY(100vh) rotate(360deg);
	}
}

@keyframes HahaFallTheOtherWay
{
	0%
	{
		transform: translateY(-100px) rotate(0deg);
	}

	100%
	{
		transform: translateY(100vh) rotate(-360deg);
	}
}

#haharain
{
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	pointer-events: none;

	overflow: hidden;

	z-index: -1;

	opacity: 0.1;
}

.hahaball
{
	position: absolute;

	animation-timing-function: linear;
	animation-iteration-count: 1;

	z-index: -1;
}
