.spotlight
{
	position: absolute;
	top: 0;

	width: 0;
	height: 0;

	border-left: 6vw solid transparent;
	border-right: 6vw solid transparent;
	border-bottom: 60vh solid rgba(255, 0, 0, 1);

	filter: blur(8px) hue-rotate(var(--hue-offset));

	animation-name: LightsMove, LightsColor;
	animation-duration: 1s, 6s;
	animation-iteration-count: infinite, infinite;
	animation-timing-function: linear, linear;
	animation-direction: alternate, alternate;

	transform-origin: top center;
	transform: rotate(var(--rotation-offset));
}

#party
{
	height: 100%;

	opacity: 0.3;
}

#gridbox
{
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;
}

#grid
{
	position: absolute;

	width: 200%;
	height: 200%;

	background-image: linear-gradient(to right, rgba(255,255,255,0.1) 1px, transparent 1px),
					  linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 1px);
	background-size: 3em 3em;

	animation: GridMove 0.75s linear infinite;

	opacity: 0.5;
}

#head
{
	position: relative;

	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: black;

	overflow: clip;
}

#dancers
{
	width: 100%;

	flex: 1;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.catcer
{
	width: 10em;
	height: auto;
}

.dogcer
{
	width: 15em;
	height: auto;
}

#name
{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	z-index: 10;

	text-align: center;

	color: white;

	animation: NamePulse 2s infinite;

	display: flex;
	flex-direction: column;
}

#name h1
{
	font-size: 4rem;
}

#name::before
{
	content: "";

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 120%;
	height: 120%;

	background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, transparent 80%);
	filter: blur(20px);

	z-index: -1;

	pointer-events: none;
}

#head > #continue
{
	height: 2rem;

	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;

	color: black;
	background-color: white;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	border-radius: 1em;

	font-size: 0.8rem;

	cursor: pointer;

	z-index: 10;
}

#head > #continue > ion-icon
{
	font-size: 1.25rem;
}

#head > #continue:hover
{
	background-color: rgb(200, 200, 200);
}
