@keyframes LightsMove
{
	0%
	{
		transform: scaleY(1) rotate(calc(-5deg + var(--rotation-offset)));
		opacity: 0.3;
	}

	25%
	{
		transform: scaleY(1)rotate(calc(5deg + var(--rotation-offset)));
		opacity: 1;
	}

	50%
	{
		transform: scaleY(1) rotate(calc(-5deg + var(--rotation-offset)));
		opacity: 1;
	}

	100%
	{
		transform: scaleY(1) rotate(calc(5deg + var(--rotation-offset)));
		opacity: 1;
	}
}

@keyframes LightsColor
{
	0%
	{
		border-bottom-color: rgba(255, 0, 0, 1);
	}

	25%
	{
		border-bottom-color: rgba(0, 255, 0, 1);
	}

	50%
	{
		border-bottom-color: rgba(0, 0, 255, 1);
	}

	75%
	{
		border-bottom-color: rgba(255, 255, 0, 1);
	}

	100%
	{
		border-bottom-color: rgba(255, 0, 0, 1);
	}
}

@keyframes GridMove
{
	0%
	{
		transform: translate(0, 0);
	}

	100%
	{
		transform: translate(-3em, -3em);
	}
}

@keyframes NamePulse
{
	0%, 100%
	{
		text-shadow:
			0 0 5px #fff,
			0 0 10px #00ff22;
	}

	50%
	{
		text-shadow:
			0 0 10px #ff00ff,
			0 0 20px #ff00ff;
	}
}
