*
{
	box-sizing: border-box;

	color-scheme: dark;

	font-family: "Roboto Mono", monospace ;
  	font-optical-sizing: auto;

	  scroll-behavior: smooth;
}

html, body
{
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4
{
	padding: 0;
	margin: 0;
}

a
{
	text-decoration: none;

	color: inherit;
}

a.colored
{
	color: rgb(0, 150, 255);
}

.body_container
{
	margin-left: 8rem;
	margin-right: 8rem;
	margin-top: 6rem;
}

@media (max-width: 1024px)
{
	.body_container
	{
		margin-left: 2rem;
		margin-right: 2rem;
	}
}

@media (max-width: 768px)
{
	.body_container
	{
		margin-left: 0rem;
		margin-right: 0rem;
	}
}

.subtext
{
	color: rgb(100, 100, 100);
}

.floated.right
{
	float: right;
}

.floated.left
{
	float: left;
}

.floated::after
{
	content: "";

	clear: both;

	display: table;
}
