.project_container
{
	display: flex;
	justify-content: space-between;
	gap: 1rem;

	margin-bottom: 5rem;
}

.project_container img
{
	max-width: 30vw;
	height: auto;

	border: 1px solid white;
}

.project_title
{
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 1rem;
}

.source-button
{
	display: flex;
	align-items: center;
	gap: 0.5em;

	background-color: rgb(36, 41, 46);
	color: white;

	padding: 0.25em 0.5em;;

	border-radius: 0.5em;

	text-decoration: none;
	font-size: 0.75em;
}

.source-button ion-icon
{
	font-size: 1.2em;
}

.source-button:hover
{
	background-color: rgb(50, 55, 60);
}
